* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding-top: 10px;
    background-color: #000000;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    display: flex;
}

#logo {
    font-size: 20px;
    margin: 0px 15px 0px 0px;
}

li {
    list-style: none;
    padding: 10px;
    margin-right: 15px;
}

a, select {
    color: #FFFFFF;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

select {
    outline: none;
    border-style: none;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px;
    width: 110px;
    margin-right: 20px;
    cursor: pointer;
}

option {
    background-color: #FFFFFF;
    color: #000000;
}

select:hover, li:hover {
    background-color: #3a3131;
    transition: 0.3s;
    border-radius: 50px;
}

.btn-signup {
    outline: none;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    padding: 10px;
    border-style: none;
}

button:hover {
    background-color: #d8cece;
    transition: 0.3s;
    cursor: pointer;
}

.initiatives {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    padding: 100px;
}

.initiatives > div {
    height: 364px;
    width: 546px;
}

.initiatives > div > p {
    line-height: 24px;
    height: 96px;
    width: 449.391px;
    margin-top: 30px;
    font-size: 14px;
    text-align: justify;    
}

h1 {
    font-size: 52px;
}

.btn-initiatives {
    outline: none;
    border-style: none;
    padding: 14px 25px;
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
}

.use-mask {
    background-image: url("https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,g_center,w_2545,h_900/v1613521435/assets/bc/0529b6-c37a-416b-9907-2cb44c4c2888/original/Earner_Home_bg_desktop2x.png");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right:  300px;;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.use-mask-form {
    background-color: #FFFFFF;
    margin-left: 10%;
    height: 600px;
    width: 580px;
}

.get-drivers {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #FDFDFD;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
}

.get-drivers > ul {
    width: 100%;
    justify-content:space-around;
}

.get-drivers > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 80px;
}

.get-drivers > ul > li:hover {
    border-radius: 0px;
    background-color: unset;
    cursor: pointer;
    border-bottom: 2px solid #000000;
    transition: 0s;
}

.get-drivers > ul > li > i {
    margin-bottom: 10px;
}

.p  {
  margin-top: 10px;  
}

.information-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 55px;
}

.information-form > h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 48px;
}

.information-form > p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    margin: 50px 0px;
}

.information-form > button {
    color: #FFFFFF;
    background-color: #000000;
    border-style: none;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    width: 200px;
    padding: 20px 10px;
    font-size: 16px;
    text-align: center;
}

.information-form > button:hover {
    background-color: #3a3131;
    transition: 0.3s;
}

.information-form > a {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    color: #000000;
    margin-top: 30px;
    width: 290px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.buildings {
    background-image: url("https://www.uber-assets.com/image/upload/v1614379346/assets/f4/63ca3e-b0d7-4463-988f-a2fead503ddc/original/DotCom_Update_U4B_bg_mobileD.png");
    width: 100%;
    height : 100%;
    background-position:  bottom;
    background-size:  cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10%;
}

.buildings > div > h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

.buildings > div > p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.buildings > div > button {
    background-color: #000000;
    color: #FFFFFF;
    outline: none;
    border-style: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}

.buildings > div > button:hover {
    cursor: pointer;
    background: #3a3131;
}

.focus {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.focus > div > h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 35px;
    margin: 40px 0px;
    margin-right: 500px
}

.image-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    padding: 25px;
}

.image-description > div {
    height: 550px;
}

.image-description > div > h3 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    margin: 15px 0px;
}

.image-description > div > p { 
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    margin-bottom: 30px;
    margin-right: 25px;
}

.image-description > div > a {
    color: #000000;
    margin-right: 15px;
    border-bottom: solid 1px #000000;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.focused-icons {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    width: 1200px;
}

.icons-list > li > i,
.icons-list > li > h4,
.icons-list > li > p,
.icons-list > li > a {
    margin: 10px 0;
}

.icons-list > li:hover {
    border-radius: unset;
    background-color: unset;
}

.icons-list > li > a {
    color: #000000;
    border-bottom: solid 1px #000000;
    display: inline-block;
}

.app {
    padding: 55px 0px;
    background-color: #F6F6F6;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app > h1 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-right: 500px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons > button {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
    padding: 30px 35px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    outline: none;
    background-color:#FFFFFF;
    border: 1px solid hsla(0, 0%, 0%, 0.12);;
}

.buttons > button > img {
    margin-right: 15px;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.links {
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.links > a {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    color: #000000;
    font-size: 35px;
    padding-bottom: 20px;
    margin-right: 100px;
}

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-address {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links > a {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
}

.address {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    color: #FFFFFF;
    display: inline;
    width: 400px;
    text-align: right;
}

.links-list {
    display: flex;
    justify-content: space-evenly;
}

.links-list > ul {
    display: flex;
    flex-direction: column;
}

.links-list > ul > li:first-child {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;

}

.links-list > ul > Li {
    color: #FFFFFF;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.links-list > ul > li:hover {
    background-color: unset;
    color: #3a3131;
    border-radius: unset;
    cursor: pointer;
}

.midias {
    display: flex;
    margin: 100px 0px;
    justify-content: space-evenly;
}

.midias-region {
    display: flex;
}

.social-midias > ul > li {
    background-color: #FFFFFF;
}

.social-midias > ul > li:hover {
    background-color: #3a3131 ;
    border-radius: unset;
    transition: 0.3s;
    cursor: pointer;
}

.region-buttons > button {
    padding: 15px 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    background-color: #000000;
    border-style: none;
    outline: none;
}

.region-buttons > button:hover {
    background-color: #3a3131;
    transition: 0.3s;
    cursor: pointer;
}

.stores > a > img {
    width: 120px;
    height: 50px;
    margin-right: 10px;
}

.about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.terms {
    display: flex;
}

.about > div > p{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    color: #3a3131;
    margin-right: 40px;
}